#white {
    background-color: white !important;
}
h2 {
    font-size: 1.5rem !important;
}
h3 {
    font-size: 1rem !important;
}
h4 {
    font-size: 10pt !important;
}
#margin{
    margin: 
}
.jumbotron{
    padding:1rem 1rem;
    margin-bottom:0rem;
    background-color:#e9ecef;
    border-radius:.3rem
}
.leftfloat{
    float: left;
}
#NoPad{
    padding-left: 0;
}
#border{
    border-style: solid;
    border-color: lightgray;
    padding: 15px 10px 15px 10px;
}